<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>New Quizz</h1>
            <hr>
            <%= render 'form' %>
            <%= link_to 'Back', questions_random_path, class: 'btn btn-primary btn-xl' %>
        </div>
    </div>
</header>

