<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-success"><strong>Correct !<strong></h1>
            <hr>

            <%= link_to 'Next', root_path, class: 'btn btn-info btn-xl pull-right' %>
        </div>
    </div>
</header>

